<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Address Book</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/addressBook.css" rel="stylesheet">

</head>

<body>

  <!-- Main app -->
  <section>
    <div class="container" action='#'>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact Form</h2>

          <!-- Contacts Form -->
          <div class="row-lg-8" id='contact'>
            <div class="col-lg-8 mx-auto">

              <form id="addContact">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" placeholder="example: George Moraitis" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="example: something@gmail.com"
                    required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="tel">Telephone (Switzerland):</label>
                  <input type="tel" class="form-control" id="tel" placeholder="example: +41 44 123 12 34 " required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="info">Additional Info:</label>
                  <input type="text" class="form-control" id="info" placeholder="Add more info... ">
                </div>
                <button type="submit" id="add" class="btn btn-primary">Add New Contact</button>
              </form>
              <!-- End of form -->

            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of app -->

  <!-- One Contact Template -->
  <script id="contactTemplate" type="text/template">
    <br>
    <div class="thumbnail">
      <img class="mr-3" style="width: 4rem;" src="images/<%- avatar %>">
    </div>
    <div class="media-heading">
      <h3>
        <%- name %>
      </h3>
    </div>
    <div class="media-body">
      <dl>
        <dt>Email:</dt>
        <dd><%- email %></dd>
        <dt>Telephone:</dt>
        <dd><%- tel %></dd>
      </dl>
      <h5 class="mt-0">Personal Information</h5>
      <%- info %>
    </div>
    <hr>
      <button type="button" class="delete btn btn-dark">Delete</button> 

  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="node_modules/jquery.easing/jquery.easing.min.js"></script>

  <!-- Underscore -->
  <script src="node_modules/underscore/underscore-min.js"></script>

  <!-- Backbone -->
  <script src="node_modules/backbone/backbone-min.js"></script>

  <!-- Files -->
  <script src="js/models/contact.js"></script>
  <script src="js/collections/contacts.js"></script>
  <script src="js/views/contactView.js"></script>
  <script src="js/views/contactsView.js"></script>
  <script src="js/app.js"></script>

</body>

</html>